<!DOCTYPE html>
<html ng-app="mimidoro">
    <head ng-controller="MenuController">

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <!--
        <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

        <script type="text/javascript" src="../../bower_components/angular-timer/app/js/_timer.js"></script>
        -->

        <title>{{app_name}}</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="MenuController">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
                    <a class="navbar-brand" href="#">{{app_name}}</a>
                </div>
            </div>
         </nav>

        <div class="container center">

            <div ng-controller="TimerController as timer">
                <h1 id="timer">
                    <span ng-hide="is_zero_shown()">0</span>{{minutes}}:<span ng-hide="is_zero_shown()">0</span>{{seconds}}
                </h1>
                <hr>
                <h2>{{session_title}}</h2>
                <h2>Total time: {{time}}</h2>
                <button ng-click="start_work_timer()" id="start_btn">{{start_btn}}</button>
                <button ng-click="skip_timer()" id="skip_btn">{{skip_btn}}</button>
                <button ng-click="stop_timer()" id="stop_btn">{{stop_btn}}</button>
                <hr>
                <h2 id="demo"></h2>

            <section ng-controller="MenuController as menu" class="center">

                <ul class="nav nav-pills nav-justified">
                    <li ng-class="{ active:menu.isSelected(1) }">
                        <a href ng-click="menu.selectTab(1)">{{tasks_btn}}</a>
                    </li>
                    <li ng-class="{ active:menu.isSelected(2) }">
                         <a href ng-click="menu.selectTab(2)">{{reports_btn}}</a>
                    </li>
                    <li ng-class="{ 3 }">
                         <a href ng-click="menu.selectTab(3)">{{settings_btn}}</a>
                    </li>
                </ul>

                <div class="menu" ng-show="menu.isSelected(1)">

                    <div ng-controller="TasksController" class="tab-body">
                        <p class="mi-tab-title">{{tasks_title}}</p>

                        <form name="tasksForm" ng-submit="addTask(task)">

                            <input type="text" ng-model="task.description" class="form-control add-task-field" placeholder="I am going to work on...">
                            <input type="submit" value={{add_task_btn}} ng-click="save_task()" class="btn btn-default add-btn btn-info" />
                        </form>
                        <ul ng-repeat="task in tasks_list" class="nav nav-pills">
                            <li>{{task.description}}</li>
                        </ul>
                    </div>

                </div>

                <div class="menu" ng-show="menu.isSelected(2)">

                    <div ng-controller="ReportsController" class="tab-body">
                        <p class="mi-tab-title">{{reports_title}}</p>

                        <div class="mi-reports">
                            <p>Daily productivity: {{work_session_counter}}</p>
                        </div>

                    </div>

                </div>

                <div class="menu" ng-show="menu.isSelected(3)">

                    <div ng-controller="SettingsController" class="tab-body">
                        <p class="mi-tab-title">{{settings_title}}</p>

                        <div class="mi-settings">
                            <h5 class="mi-input-title">{{work_session_duration_title}}</h5>
                            <input ng-model="work_session_duration" class="form-control" type="text" placeholder="Default: 25 minutes"/>
                            <hr/>
                            <h5 class="mi-input-title">{{short_break_duration_title}}</h5>
                            <input ng-model="break_duration" class="form-control" type="text" placeholder="Default: 5 minutes"/>
                            <hr/>
                            <h5 class="mi-input-title">{{long_break_duration_title}}</h5>
                            <input class="form-control" type="text" placeholder="Default: 15 minutes"/>
                            <hr/>
                        </div>
                    </div>

                </div>

            </section>
            </div>

        </div>

        <!--
            Due to Angular documentation, scripts should be at the end of page
            to avoid blocking HTML code loading by angular.js file loading
        -->

        <script type="text/javascript" src="js/timer.js"></script>
        <script type="text/javascript" src="angular/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

    </body>
</html>
